body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #46484e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  background: #2b2b2b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  width: 300px;
}

#display {
  width: 100%;
  height: 60px;
  text-align: right;
  font-size: 2rem;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: #3a3a3a;
  color: #f57c0a;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  background: #505050;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
}

.btn:hover {
  background: #606060;
}

.operator {
  background: #ff9500;
}

.operator:hover {
  background: #e58900;
}

.equal {
  grid-column: span 4;
  background: #34c759;
}

.equal:hover {
  background: #28a745;
}

#clear {
  background: #ff3b30;
}

#clear:hover {
  background: #e02b20;
}
